.body {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    
}

.header div {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 90%;
    box-sizing: border-box;
    padding: 30px;
    
    
}
.float-right {
    position: absolute;
    
    
}
.float-right li {
    display: inline-block;
    float: right;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.float-right img {
    height: 25px;
}

.float-right button {
    height: 30px;
    width: 80px;
    border: none;
    background-color: blue;
    color: white;
    margin-right: 10px;
}

.logo {
   padding: 0px;
   display: inline-block;
   
}
.logo img {
    height: 30px;
    left: 0px;
}
.logo img:hover {
    cursor: pointer;
}
   
    
div input {
    margin-left: 180px;
}
input[type=text] {
    background-color: white;
    background-image: url('searchicon.png');
    background-position: ;
    background-repeat: no-repeat;
    left: 0px;
    border: 1px solid lightgray;
    width: 41%;
    height: 40px;
    border-radius: 20px;
    box-sizing: border-box;
      
    }
    


.main-container {
    width: 750px;
    
}
.navbar {
    
    margin-top: 80px;
    margin-left: 180px;
    float: left;
    position: relative;
    white-space: nowrap;
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    width: 700px;
    
    outline-width: 0px;
    outline: none;
    box-sizing: border-box;
    border-bottom: 1px solid lightgray;
    
    
}
.navbar ul li {
    display: inline-block;
    padding: 0 25px 0 0;
    
}
.navbar ul li a {
    text-decoration: none;
    color: black;
}
ul .active {
    color: blue;
    border-bottom: 3px solid blue;
    
}
ul .active:hover {
    color: blue;
}

.about-results {
   float: left;
   position: absolute;
   display: flex;
   width: 700px;
   margin-top: 140px;
   margin-left: 180px;
   padding: 0;
  
}
.results-container {
    position: absolute;
    left: 180px;
    top: 0px;
    padding: 0px;
    width: 45%;
    margin-top: 200px;  
    padding-top: 20px;
    
}
.search-result {
    padding-bottom: 15px;
    line-height: 0.5em;
}
.search-result p {
    line-height: 1.2em;
    padding-top: 0;
    
}
.search-result a {
    text-decoration: none;
}
.search-result a:hover {
    text-decoration: underline;
    ;
}
.green {
    color: green;
}
.green:hover {
    cursor: pointer;
}
.clear {
    clear: both;
}

.people-ask {
    line-height: 0em;
    padding-bottom: 5px;
}
.similar-search h2:hover {
text-decoration: underline;
cursor: pointer;
}
.search-result img {
    height: 50px;
    clip: rect(60px 0 20px 0);
    display: inline-block;
    margin: 1px solid blue;
}
.float {
    display: inline-block;
    margin:none;
}

.google-search-pages img {
    background-color: white;
    clip: rect(200px 0 80px 0)
}

.footer {
    display: inline-block;
    margin-top: 2650px;
    margin-left: -750px;
    line-height: 1em;
    
}
.footer li {
    display: inline-block;
    text-decoration: none;
    padding-right: 10px;
}
.footer li a {
    text-decoration: none;
    color: rgba(90, 83, 83, 0.7);

}
.footer ul li a:hover {
    cursor: pointer;
    color: rgba(90, 83, 83, 1)
}














